In [73]:
import pandas as pd
import os

In [74]:
pupils_dictionary = {}

for x in range(3):    
    new_key = 'he'+str(x)
    pupils_dictionary[new_key] = x
print(pupils_dictionary)

{'he0': 0, 'he1': 1, 'he2': 2}

In [75]:
import numpy as np

In [76]:

for file in os.listdir('./raw_news/'):
    print(file)

bs.csv
et_news.csv
mint.csv
NewsData-2023-02-19.csv
NewsData-2023-02-20.csv
NewsData-2023-02-21.csv
NewsData-2023-02-22.csv
NewsData-2023-02-23.csv
NewsData-2023-02-24.csv
NewsData-2023-02-25.csv
NewsData-2023-02-26.csv
NewsData-2023-03-05.csv
NewsData-2023-03-06.csv
NewsData-2023-03-07.csv
NewsData-2023-03-08.csv
NewsData-2023-03-09.csv
NewsData-2023-03-10.csv
NewsData-2023-03-11.csv
NewsData-2023-03-12.csv
NewsData-2023-03-13.csv
NewsData-2023-03-14.csv
NewsData-2023-03-15.csv
NewsData-2023-03-16.csv
NewsData-2023-03-17.csv

In [77]:
from datetime import datetime,date,timedelta
# today = date.today() - timedelta(1)
# today = str(today) + ' 09:00 PM'
# stop_date = datetime.strptime(today, '%Y-%m-%d %I:%M %p')
# print(stop_date)
# t = datetime.now().date()
# print(str(t.strftime('%B %d, %Y, %A')))

date_stop = datetime.now().date()

date_sto = date_stop.strftime('%B %d, %Y, %A')
print(date_sto)
print(type(date_sto))
dat = datetime.strftime(str(date_sto),'%B %d, %Y, %A').date()
print(dat)
print(type(dat))

March 18, 2023, Saturday
<class 'str'>

TypeError: descriptor 'strftime' for 'datetime.date' objects doesn't apply to a 'str' object

In [ ]:
datetime.strptime("March 05, 2023, Sunday", '%B %d, %Y, %A')

datetime.datetime(2023, 3, 5, 0, 0)

In [ ]:
# importing libraries
import pandas as pd
import glob
import os

# merging the files
joined_files = os.path.join("./raw_news/", "*.csv")
print(joined_files)
# A list of all joined files is returned
joined_list = glob.glob(joined_files)
print(joined_files)
# Finally, the files are joined
df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)
print(df)

./raw_news/*.csv
./raw_news/*.csv
       Unnamed: 0                                           Headline  \
0               0  Sebi to control unsolicited fin market advise ...
1               1  Sebi pitches change in rules for REITs, InvITs...
2               2  Sri Lanka's body approves renewable energy pro...
3               3  Sebi likely to scrap small town-linked incenti...
4               4  Indices post biggest weekly decline since June...
...           ...                                                ...
31500          24  LIC's investment in Adani Group stocks now sta...
31501          25  PolicyBazaar hits over 5-month high; surges 30...
31502          26  Jindal Stainless (Hisar) fixes record date for...
31503          27  Mahindra Lifespace tumbles 8% after MD & CEO t...
31504          28  Siemens scaling new heights on strong performa...

                            Date
0      February 24, 2023, Friday
1      February 24, 2023, Friday
2      February 24, 2023, Friday
3      February 24, 2023, Friday
4      February 24, 2023, Friday
...                          ...
31500  February 24, 2023, Friday
31501  February 24, 2023, Friday
31502  February 24, 2023, Friday
31503  February 24, 2023, Friday
31504  February 24, 2023, Friday

[31505 rows x 3 columns]

In [ ]:
df.head()

,Unnamed: 0,Headline,Date
0,0,Sebi to control unsolicited fin market advise ...,"February 24, 2023, Friday"
1,1,"Sebi pitches change in rules for REITs, InvITs...","February 24, 2023, Friday"
2,2,Sri Lanka's body approves renewable energy pro...,"February 24, 2023, Friday"
3,3,Sebi likely to scrap small town-linked incenti...,"February 24, 2023, Friday"
4,4,Indices post biggest weekly decline since June...,"February 24, 2023, Friday"

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31505 entries, 0 to 31504
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Headline  31505 non-null  object
 1   Date      31505 non-null  object
dtypes: object(2)
memory usage: 492.4+ KB

In [ ]:
df.drop(columns='Unnamed: 0', inplace=True)

In [ ]:
df['Sentiment'] = np.random.randint(0,1)

In [ ]:
df.head()

,Headline,Date,Sentiment
0,Sebi to control unsolicited fin market advise ...,"February 24, 2023, Friday",0
1,"Sebi pitches change in rules for REITs, InvITs...","February 24, 2023, Friday",0
2,Sri Lanka's body approves renewable energy pro...,"February 24, 2023, Friday",0
3,Sebi likely to scrap small town-linked incenti...,"February 24, 2023, Friday",0
4,Indices post biggest weekly decline since June...,"February 24, 2023, Friday",0

In [ ]:
df.to_csv('./news/stock.csv')

In [ ]:
import pandas as pd
from transformers import AutoTokenizer

data = pd.read_csv('stock_data.csv')
tokenizer = AutoTokenizer.from_pretrained("bert-base-cased")
tokenized_data = tokenizer(dat["sentence"], return_tensors="np", padding=True)
# Tokenizer returns a BatchEncoding, but we convert that to a dict for Keras
tokenized_data = dict(tokenized_data)

labels = np.array(dataset["label"]

In [ ]:
import psycopg2

#Establishing the connection
conn = psycopg2.connect(
   database="stocks", user='postgres', password='kingsuk', host='127.0.0.1', port= '5432'
)
cursor = conn.cursor()
hs = 'hsjs'
cursor.execute('''INSERT INTO NEWS(news, news_date, sentiment) VALUES ('Ramys2', '21-01-2022', 1)''')
conn.commit()
#Creating a cursor object using the cursor() method
cursor.execute('''SELECT * from NEWS''')

#Fetching 1st row from the table
result = cursor.fetchone();
print(result)

#Fetching 1st row from the table
result = cursor.fetchall();
print(result)


#Closing the connection
conn.close()

(5, 'Ramya1', '21-01-2022', 1)
[(6, 'Ramya2', '21-01-2022', 1), (7, 'Ramya22', '21-01-2022', 1), (8, 'Ramys2', '21-01-2022', 1), (9, 'Ramys2', '21-01-2022', 1), (10, 'Ramys2', '21-01-2022', 1)]

In [ ]:
from GoogleNews import GoogleNews
googlenews = GoogleNews()
import pandas as pd

In [ ]:
googlenews=GoogleNews()
googlenews.set_period('1d')
googlenews.search('ICICI')
result=googlenews.result()
df=pd.DataFrame(result)

In [ ]:
df.head()
df.to_csv('c.csv')

In [ ]:
pip install gnewsclient

Collecting gnewsclient
  Downloading gnewsclient-1.12-py3-none-any.whl (7.9 kB)
Collecting feedparser
  Downloading feedparser-6.0.10-py3-none-any.whl (81 kB)
     ---------------------------------------- 0.0/81.1 kB ? eta -:--:--
     ----------------------------------- ---- 71.7/81.1 kB 2.0 MB/s eta 0:00:01
     ---------------------------------------- 81.1/81.1 kB 1.5 MB/s eta 0:00:00
Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: requests in c:\users\kings\onedrive\documents\dev\stock-analysis\envr\lib\site-packages (from gnewsclient) (2.28.2)
Collecting sgmllib3k
  Downloading sgmllib3k-1.0.0.tar.gz (5.8 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\kings\onedrive\documents\dev\stock-analysis\envr\lib\site-packages (from requests->gnewsclient) (3.0.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kings\onedrive\documents\dev\stock-analysis\envr\lib\site-packages (from requests->gnewsclient) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kings\onedrive\documents\dev\stock-analysis\envr\lib\site-packages (from requests->gnewsclient) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\kings\onedrive\documents\dev\stock-analysis\envr\lib\site-packages (from requests->gnewsclient) (1.26.14)
Building wheels for collected packages: sgmllib3k
  Building wheel for sgmllib3k (setup.py): started
  Building wheel for sgmllib3k (setup.py): finished with status 'done'
  Created wheel for sgmllib3k: filename=sgmllib3k-1.0.0-py3-none-any.whl size=6061 sha256=ab5913e95565a5863169c19a1a886d6a14424eb1f7e43c788a8cf84886f59c58
  Stored in directory: c:\users\kings\appdata\local\pip\cache\wheels\f0\69\93\a47e9d621be168e9e33c7ce60524393c0b92ae83cf6c6e89c5
Successfully built sgmllib3k
Installing collected packages: sgmllib3k, fuzzywuzzy, feedparser, gnewsclient
Successfully installed feedparser-6.0.10 fuzzywuzzy-0.18.0 gnewsclient-1.12 sgmllib3k-1.0.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import urllib.request
request_url = urllib.request.urlopen('https://www.carwale.com/hi/used/cars-for-sale')
print(request_url.read())

HTTPError: HTTP Error 403: Forbidden

In [ ]:
from bs4 import BeautifulSoup
from requests import get
import pandas as pd
import time
import random
headers = ({'User-Agent':
            'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit\
/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36'})

def get_basic_info(content_list):
    basic_info = []
    for item in content_list:
        basic_info.append(item.find_all('div', attrs={'class': 'car-ad-info'}))
    return basic_info

def get_names(basic_info):
    names = []
    for item in basic_info:
        for i in item:
            names.append(i.find_all("h2", attrs = {"class" : "car-ad-name"})[0].text.strip())
    return names

def get_years(basic_info):
    years = []
    for item in basic_info:
        for i in item:
            years.append(i.find_all("h3", attrs = {"class" : "car-ad-year"})[0].text.strip())
    return years

def get_prices(basic_info):
    prices = []
    for item in basic_info:
        for i in item:
            prices.append(i.find_all("div", attrs = {"class" : "car-ad-price"})[0].string.replace(u'\xa0', u' ').strip())
    return prices

def get_motor(basic_info):
    tables = []
    motors = []
    mileages = []
    data = [motors, mileages]
    for item in basic_info:
        for i in item:
            tables.append(i.find_all("table", attrs = {"class" : "used-specs-table"})[0])
    for table in tables:
        motors.append(table.find("td", attrs={"class" : "car-ad-cc"}).string)
        mileages.append(table.find("td", attrs={"class" : "car-ad-km"}).string)
    return data

page_number = 1
names = []
prices = []
years = []
motors = []
mileages = []


for i in range(9):
    base_url = "https://www.cardekho.com/newcars".format(page_number)
    response = get(base_url, headers=headers)
    html_soup = BeautifulSoup(response.text, 'html.parser')
    content_list = html_soup.find_all('div', attrs={'class': 'car-ad sft-ad'})

    basic_info = get_basic_info(content_list)
    names1 = get_names(basic_info)
    prices1 = get_prices(basic_info)
    years1 = get_years(basic_info)
    motors1 = get_motor(basic_info)[0]
    mileages1 = get_motor(basic_info)[1]

    names.extend(names1)
    prices.extend(prices1)
    years.extend(years1)
    motors.extend(motors1)
    mileages.extend(mileages1)
    page_number = page_number + 1
    time.sleep(random.randint(1,2))

cols = ["Name", "Year", "Motor", "Mileage (Km)", "Price"]
data = pd.DataFrame({"Name" : names, "Year" : years, "Motor" : motors, "Mileage (Km)": mileages, "Price" : prices})[cols]
data["Price"] = data["Price"].replace({'\$ ':''}, regex = True)
data["Price"] = data["Price"].replace({'\,':''}, regex = True)
data["Mileage (Km)"] = data["Mileage (Km)"].replace({'\ Km':''}, regex = True)
data[["Mileage (Km)", "Year", "Motor", "Price"]] = data[["Mileage (Km)", "Year", "Motor", "Price"]].apply(pd.to_numeric)

data.head()
data.drop_duplicates().to_excel('Car_list.xls')

C:\Users\kings\AppData\Local\Temp\ipykernel_13984\2495621620.py:87: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  data.drop_duplicates().to_excel('Car_list.xls')

ModuleNotFoundError: No module named 'xlwt'

In [15]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
headers = {'User-Agent':'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.83 Safari/537.36'}


def fetch_from_url(url):
    page = requests.get(url,headers=headers)
    soup = BeautifulSoup(page.content, "html.parser")
    return soup

def extract_data_from_page(page,ele,classname):
     return page.find_all(ele, class_=classname)



Engine=[]
Mileage =[]
Length=[]
Height=[]
Seating_Capacity=[]
price=[]
year=[]
km=[]
FuelType=[]
Transmission=[]
Owner=[]
name = []
for soham in range(150,200):
     try:
          url = "https://www.carwale.com/used/cars-for-sale/"
          url = url + "page-" + str(soham)
          result = fetch_from_url(url)
          soup = extract_data_from_page(result,'div','card-detail-block__data')
          print(url)
          spec = []
          over = []
          for i in soup:
               a = i.find('a')

               url1 = a.get("href")
               name.append(url1.split("/")[3])
               url1 = "https://www.carwale.com"+url1
               print(url1)
               r1 = fetch_from_url(url1)
               s1 = r1.find('div',id='overview')
               l1 = s1.find_all('div',class_="equal-width")
               over1=[]
               for x in l1:
                    over1.append((x.text).strip())
               over.append(over1)
               s1 = r1.find('div',id='specifications')
               l1 = s1.find_all('div',class_='property-wrapper')
               spec1= []
               for x in l1:         
                    spec1.append((x.text).strip().replace('\t',''))
               spec.append(spec1)


          for i in over:
               price.append(i[1])
               year.append(i[3])
               km.append(i[5])
               FuelType.append(i[7])
               Transmission.append(i[9])
               Owner.append(i[17])

          for x in spec:
               
               e = 0
               m = 0
               l =0
               h=0
               s=0

               if(len(x)>10):
                    for y in x:
                         if "Engine\n" in y:
                              Engine.append(y.split('\n')[1])
                              e=1
                         elif "Mileage" in y :
                              Mileage.append(y.split('\n')[1])
                              m = 1
                              # print(y.split('\n')[1])
                         elif "Length" in y:
                              Length.append(y.split('\n')[1])
                              l=1
                         elif "Height" in y:
                              Height.append(y.split('\n')[1])
                              h=1
                         elif "Seating Capacity" in y:
                              Seating_Capacity.append(y.split('\n')[1])
                              s=1
               if m == 0:
                    Mileage.append(0)
               if e == 0:
                    Engine.append(0)
               if l == 0:
                    Length.append(0)
               if h == 0:
                   Height.append(0)
               if s == 0:
                    Seating_Capacity.append(0)
     except :
          print(url)

len(Engine),len(Mileage),len(Length),len(Height),len(Seating_Capacity)

# df['Engine']=df['Engine'].apply(lambda x: x.split(',')[0])
# df.to_csv('used_cars.csv')

               
len(Engine),len(Mileage),len(Length),len(Height),len(Seating_Capacity)

https://www.carwale.com/used/cars-for-sale/page-150
https://www.carwale.com/used/cars-in-pune/maruti-suzuki-wagon-r/d3604655/?slot=0&rk=1&isP=false
https://www.carwale.com/used/cars-in-pune/hyundai-i10/d3605347/?slot=0&rk=2&isP=false
https://www.carwale.com/used/cars-in-bangalore/hyundai-i20/d3606651/?slot=0&rk=3&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-swift/d3613649/?slot=0&rk=4&isP=false
https://www.carwale.com/used/cars-in-pune/maruti-suzuki-wagon-r/d3581481/?slot=0&rk=5&isP=false
https://www.carwale.com/used/cars-in-pune/hyundai-verna/d3581671/?slot=0&rk=6&isP=false
https://www.carwale.com/used/cars-in-pune/ford-ecosport/d3581829/?slot=0&rk=7&isP=false
https://www.carwale.com/used/cars-in-pune/maruti-suzuki-alto-800/d3581843/?slot=0&rk=8&isP=false
https://www.carwale.com/used/cars-in-pune/maruti-suzuki-s-presso/d3581885/?slot=0&rk=9&isP=false
https://www.carwale.com/used/cars-in-pune/hyundai-elite-i20/d3582009/?slot=0&rk=10&isP=false
https://www.carwale.com/used/cars-in-pune/skoda-rapid/d3582251/?slot=0&rk=11&isP=false
https://www.carwale.com/used/cars-in-delhi/hyundai-grand-i10-nios/d3588471/?slot=0&rk=12&isP=false
https://www.carwale.com/used/cars-in-delhi/renault-duster/d3588475/?slot=0&rk=13&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-wagon-r/d3588493/?slot=0&rk=14&isP=false
https://www.carwale.com/used/cars-in-delhi/tata-altroz/d3588509/?slot=0&rk=15&isP=false
https://www.carwale.com/used/cars-in-delhi/hyundai-creta/d3588523/?slot=0&rk=16&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-wagon-r/d3588625/?slot=0&rk=17&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-alto/d3588747/?slot=0&rk=18&isP=false
https://www.carwale.com/used/cars-in-delhi/jeep-compass/d3588835/?slot=0&rk=19&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-a-star/d3588941/?slot=0&rk=20&isP=false
https://www.carwale.com/used/cars-in-delhi/hyundai-creta/d3589063/?slot=0&rk=21&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-wagon-r/d3589081/?slot=0&rk=22&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-a-star/d3589435/?slot=0&rk=23&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-baleno/d3589453/?slot=0&rk=24&isP=false
https://www.carwale.com/used/cars-for-sale/page-151
https://www.carwale.com/used/cars-in-delhi/hyundai-venue/d3589641/?slot=0&rk=1&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-s-cross/d3590843/?slot=0&rk=2&isP=false
https://www.carwale.com/used/cars-in-delhi/tata-altroz/d3590859/?slot=0&rk=3&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-alto-800/d3590861/?slot=0&rk=4&isP=false
https://www.carwale.com/used/cars-in-chennai/skoda-slavia/d3585815/?slot=0&rk=5&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-ignis/d3588131/?slot=0&rk=6&isP=false
https://www.carwale.com/used/cars-in-delhi/renault-kiger/d3588011/?slot=0&rk=7&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-swift-dzire/d3588053/?slot=0&rk=8&isP=false
https://www.carwale.com/used/cars-in-delhi/honda-wr-v/d3588065/?slot=0&rk=9&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-s-cross/d3588295/?slot=0&rk=10&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-baleno/d3588301/?slot=0&rk=11&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-baleno/d3588345/?slot=0&rk=12&isP=false
https://www.carwale.com/used/cars-in-delhi/hyundai-venue/d3588355/?slot=0&rk=13&isP=false
https://www.carwale.com/used/cars-in-pune/tata-tiago/d3582779/?slot=0&rk=14&isP=false
https://www.carwale.com/used/cars-in-chennai/hyundai-grand-i10/d3584271/?slot=0&rk=15&isP=false
https://www.carwale.com/used/cars-in-chennai/maruti-suzuki-vitara-brezza/d3585251/?slot=0&rk=16&isP=false
https://www.carwale.com/used/cars-in-pune/skoda-octavia/d3582731/?slot=0&rk=17&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-baleno/d3587057/?slot=0&rk=18&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-wagon-r/d3587311/?slot=0&rk=19&isP=false
https://www.carwale.com/used/cars-in-delhi/honda-amaze/d3587367/?slot=0&rk=20&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-vitara-brezza/d3587467/?slot=0&rk=21&isP=false
https://www.carwale.com/used/cars-in-delhi/jeep-compass/d3587583/?slot=0&rk=22&isP=false
https://www.carwale.com/used/cars-in-delhi/hyundai-creta/d3587669/?slot=0&rk=23&isP=false
https://www.carwale.com/used/cars-in-delhi/honda-amaze/d3587693/?slot=0&rk=24&isP=false
https://www.carwale.com/used/cars-for-sale/page-152
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-s-cross/d3587795/?slot=0&rk=1&isP=false
https://www.carwale.com/used/cars-in-delhi/hyundai-grand-i10/d3588109/?slot=0&rk=2&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-wagon-r/d3587927/?slot=0&rk=3&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-alto/d3589135/?slot=0&rk=4&isP=false
https://www.carwale.com/used/cars-in-rajkot/hyundai-grand-i10/d3528871/?slot=0&rk=5&isP=false
https://www.carwale.com/used/cars-in-bangalore/mahindra-xuv300/d3606611/?slot=0&rk=6&isP=false
https://www.carwale.com/used/cars-in-pune/maruti-suzuki-baleno/d3606613/?slot=0&rk=7&isP=false
https://www.carwale.com/used/cars-in-pune/tata-nexon/d3606683/?slot=0&rk=8&isP=false
https://www.carwale.com/used/cars-in-pune/tata-nexon/d3606715/?slot=0&rk=9&isP=false
https://www.carwale.com/used/cars-in-pune/honda-city/d3606727/?slot=0&rk=10&isP=false
https://www.carwale.com/used/cars-in-bangalore/volkswagen-vento/d3606773/?slot=0&rk=11&isP=false
https://www.carwale.com/used/cars-in-kochi/hyundai-santro/d3607009/?slot=0&rk=12&isP=false
https://www.carwale.com/used/cars-in-kochi/hyundai-santro/d3607035/?slot=0&rk=13&isP=false
https://www.carwale.com/used/cars-in-surat/hyundai-alcazar/d3607245/?slot=0&rk=14&isP=false
https://www.carwale.com/used/cars-in-surat/mahindra-xuv300/d3607251/?slot=0&rk=15&isP=false
https://www.carwale.com/used/cars-in-pune/maruti-suzuki-ciaz/d3607939/?slot=0&rk=16&isP=false
https://www.carwale.com/used/cars-in-bangalore/maruti-suzuki-swift/d3605493/?slot=0&rk=17&isP=false
https://www.carwale.com/used/cars-in-bangalore/honda-brio/d3605579/?slot=0&rk=18&isP=false
https://www.carwale.com/used/cars-in-bangalore/renault-duster/d3605589/?slot=0&rk=19&isP=false
https://www.carwale.com/used/cars-in-bangalore/honda-city/d3605593/?slot=0&rk=20&isP=false
https://www.carwale.com/used/cars-in-pune/hyundai-grand-i10-nios/d3605605/?slot=0&rk=21&isP=false
https://www.carwale.com/used/cars-in-chennai/maruti-suzuki-wagon-r/d3605639/?slot=0&rk=22&isP=false
https://www.carwale.com/used/cars-in-bangalore/maruti-suzuki-wagon-r/d3605683/?slot=0&rk=23&isP=false
https://www.carwale.com/used/cars-in-chennai/honda-city/d3605689/?slot=0&rk=24&isP=false
https://www.carwale.com/used/cars-for-sale/page-153
https://www.carwale.com/used/cars-for-sale/page-154
https://www.carwale.com/used/cars-in-delhi/honda-amaze/d3601247/?slot=0&rk=1&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-vitara-brezza/d3601277/?slot=0&rk=2&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-baleno/d3601285/?slot=0&rk=3&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-wagon-r/d3601291/?slot=0&rk=4&isP=false
https://www.carwale.com/used/cars-in-delhi/honda-city/d3601305/?slot=0&rk=5&isP=false
https://www.carwale.com/used/cars-in-delhi/hyundai-grand-i10/d3601411/?slot=0&rk=6&isP=false
https://www.carwale.com/used/cars-in-delhi/honda-amaze/d3602421/?slot=0&rk=7&isP=false
https://www.carwale.com/used/cars-in-delhi/kia-sonet/d3602431/?slot=0&rk=8&isP=false
https://www.carwale.com/used/cars-in-delhi/mahindra-xuv500/d3602453/?slot=0&rk=9&isP=false
https://www.carwale.com/used/cars-in-delhi/hyundai-i10/d3602455/?slot=0&rk=10&isP=false
https://www.carwale.com/used/cars-in-delhi/honda-wr-v/d3602465/?slot=0&rk=11&isP=false
https://www.carwale.com/used/cars-in-delhi/hyundai-i20-n-line/d3602483/?slot=0&rk=12&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-swift/d3602493/?slot=0&rk=13&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-swift/d3602669/?slot=0&rk=14&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-dzire/d3602733/?slot=0&rk=15&isP=false
https://www.carwale.com/used/cars-in-delhi/hyundai-elite-i20/d3602865/?slot=0&rk=16&isP=false
https://www.carwale.com/used/cars-in-bangalore/toyota-yaris/d3604683/?slot=0&rk=17&isP=false
https://www.carwale.com/used/cars-in-bangalore/hyundai-aura/d3604721/?slot=0&rk=18&isP=false
https://www.carwale.com/used/cars-in-chennai/hyundai-grand-i10-nios/d3604725/?slot=0&rk=19&isP=false
https://www.carwale.com/used/cars-in-chennai/hyundai-grand-i10-nios/d3604743/?slot=0&rk=20&isP=false
https://www.carwale.com/used/cars-in-chennai/honda-jazz/d3604767/?slot=0&rk=21&isP=false
https://www.carwale.com/used/cars-in-chennai/hyundai-creta/d3604781/?slot=0&rk=22&isP=false
https://www.carwale.com/used/cars-in-bangalore/hyundai-grand-i10/d3605009/?slot=0&rk=23&isP=false
https://www.carwale.com/used/cars-in-bangalore/maruti-suzuki-baleno/d3605017/?slot=0&rk=24&isP=false
https://www.carwale.com/used/cars-for-sale/page-155
https://www.carwale.com/used/cars-in-nashik/honda-city/d3598089/?slot=0&rk=1&isP=false
https://www.carwale.com/used/cars-in-coimbatore/maruti-suzuki-celerio/d3598099/?slot=0&rk=2&isP=false
https://www.carwale.com/used/cars-in-coimbatore/maruti-suzuki-dzire/d3597623/?slot=0&rk=3&isP=false
https://www.carwale.com/used/cars-in-coimbatore/maruti-suzuki-celerio/d3597673/?slot=0&rk=4&isP=false
https://www.carwale.com/used/cars-in-coimbatore/hyundai-santro/d3597775/?slot=0&rk=5&isP=false
https://www.carwale.com/used/cars-in-lucknow/honda-wr-v/d3598893/?slot=0&rk=6&isP=false
https://www.carwale.com/used/cars-in-indore/hyundai-creta/d3598967/?slot=0&rk=7&isP=false
https://www.carwale.com/used/cars-in-nashik/maruti-suzuki-celerio-x/d3599005/?slot=0&rk=8&isP=false
https://www.carwale.com/used/cars-in-nashik/maruti-suzuki-wagon-r/d3599085/?slot=0&rk=9&isP=false
https://www.carwale.com/used/cars-in-coimbatore/maruti-suzuki-celerio/d3599219/?slot=0&rk=10&isP=false
https://www.carwale.com/used/cars-in-lucknow/maruti-suzuki-wagon-r/d3599441/?slot=0&rk=11&isP=false
https://www.carwale.com/used/cars-in-nashik/volkswagen-polo/d3599443/?slot=0&rk=12&isP=false
https://www.carwale.com/used/cars-in-nashik/tata-tiago/d3599643/?slot=0&rk=13&isP=false
https://www.carwale.com/used/cars-in-nashik/honda-brio/d3599723/?slot=0&rk=14&isP=false
https://www.carwale.com/used/cars-in-nashik/hyundai-grand-i10/d3599747/?slot=0&rk=15&isP=false
https://www.carwale.com/used/cars-in-nashik/honda-jazz/d3599771/?slot=0&rk=16&isP=false
https://www.carwale.com/used/cars-in-nagpur/hyundai-grand-i10/d3599785/?slot=0&rk=17&isP=false
https://www.carwale.com/used/cars-in-coimbatore/hyundai-xcent/d3600007/?slot=0&rk=18&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-baleno/d3601861/?slot=0&rk=19&isP=false
https://www.carwale.com/used/cars-in-delhi/hyundai-grand-i10-nios/d3601457/?slot=0&rk=20&isP=false
https://www.carwale.com/used/cars-in-delhi/honda-city/d3601459/?slot=0&rk=21&isP=false
https://www.carwale.com/used/cars-in-delhi/tata-harrier/d3601527/?slot=0&rk=22&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-ciaz/d3601555/?slot=0&rk=23&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-ciaz/d3601585/?slot=0&rk=24&isP=false
https://www.carwale.com/used/cars-for-sale/page-156
https://www.carwale.com/used/cars-in-delhi/hyundai-grand-i10/d3602197/?slot=0&rk=1&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-swift/d3602247/?slot=0&rk=2&isP=false
https://www.carwale.com/used/cars-in-nashik/maruti-suzuki-dzire/d3600501/?slot=0&rk=3&isP=false
https://www.carwale.com/used/cars-in-delhi/tata-nexon/d3602317/?slot=0&rk=4&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-baleno/d3602327/?slot=0&rk=5&isP=false
https://www.carwale.com/used/cars-in-delhi/hyundai-aura/d3602341/?slot=0&rk=6&isP=false
https://www.carwale.com/used/cars-in-bangalore/hyundai-santro/d3604541/?slot=0&rk=7&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-swift/d3603357/?slot=0&rk=8&isP=false
https://www.carwale.com/used/cars-in-delhi/honda-city/d3601973/?slot=0&rk=9&isP=false
https://www.carwale.com/used/cars-in-delhi/mahindra-xuv300/d3602187/?slot=0&rk=10&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-baleno/d3601657/?slot=0&rk=11&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-s-presso/d3601691/?slot=0&rk=12&isP=false
https://www.carwale.com/used/cars-in-nashik/maruti-suzuki-celerio/d3600479/?slot=0&rk=13&isP=false
https://www.carwale.com/used/cars-in-nashik/skoda-rapid/d3600483/?slot=0&rk=14&isP=false
https://www.carwale.com/used/cars-in-nagpur/honda-city/d3603627/?slot=0&rk=15&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-celerio/d3603641/?slot=0&rk=16&isP=false
https://www.carwale.com/used/cars-in-bangalore/maruti-suzuki-baleno/d3604561/?slot=0&rk=17&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-swift/d3603521/?slot=0&rk=18&isP=false
https://www.carwale.com/used/cars-in-pune/jeep-compass/d3581927/?slot=0&rk=19&isP=false
https://www.carwale.com/used/cars-in-pune/hyundai-grand-i10/d3582363/?slot=0&rk=20&isP=false
https://www.carwale.com/used/cars-in-pune/hyundai-santro/d3613973/?slot=0&rk=21&isP=false
https://www.carwale.com/used/cars-in-pune/tata-tiago/d3613975/?slot=0&rk=22&isP=false
https://www.carwale.com/used/cars-in-chennai/tata-punch/d3612259/?slot=0&rk=23&isP=false
https://www.carwale.com/used/cars-in-patna/maruti-suzuki-s-cross/d3612359/?slot=0&rk=24&isP=false
https://www.carwale.com/used/cars-for-sale/page-157
https://www.carwale.com/used/cars-in-delhi/volkswagen-polo/d3612889/?slot=0&rk=1&isP=false
https://www.carwale.com/used/cars-in-delhi/honda-city/d3612899/?slot=0&rk=2&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-ciaz/d3612437/?slot=0&rk=3&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-ciaz/d3612449/?slot=0&rk=4&isP=false
https://www.carwale.com/used/cars-in-chennai/hyundai-santro/d3612487/?slot=0&rk=5&isP=false
https://www.carwale.com/used/cars-in-pune/hyundai-creta/d3612519/?slot=0&rk=6&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-swift/d3612521/?slot=0&rk=7&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-wagon-r/d3612553/?slot=0&rk=8&isP=false
https://www.carwale.com/used/cars-in-chennai/maruti-suzuki-baleno/d3612571/?slot=0&rk=9&isP=false
https://www.carwale.com/used/cars-in-pune/hyundai-venue/d3611947/?slot=0&rk=10&isP=false
https://www.carwale.com/used/cars-in-bangalore/maruti-suzuki-ciaz/d3612051/?slot=0&rk=11&isP=false
https://www.carwale.com/used/cars-in-patna/hyundai-grand-i10/d3612109/?slot=0&rk=12&isP=false
https://www.carwale.com/used/cars-in-chennai/hyundai-elite-i20/d3612125/?slot=0&rk=13&isP=false
https://www.carwale.com/used/cars-in-chennai/hyundai-verna/d3612195/?slot=0&rk=14&isP=false
https://www.carwale.com/used/cars-in-coimbatore/ford-ecosport/d3612231/?slot=0&rk=15&isP=false
https://www.carwale.com/used/cars-in-chennai/maruti-suzuki-s-presso/d3612239/?slot=0&rk=16&isP=false
https://www.carwale.com/used/cars-in-pune/hyundai-venue/d3612975/?slot=0&rk=17&isP=false
https://www.carwale.com/used/cars-in-delhi/mahindra-xuv300/d3613097/?slot=0&rk=18&isP=false
https://www.carwale.com/used/cars-in-delhi/hyundai-grand-i10-nios/d3613319/?slot=0&rk=19&isP=false
https://www.carwale.com/used/cars-in-kochi/ford-ecosport/d3613365/?slot=0&rk=20&isP=false
https://www.carwale.com/used/cars-in-delhi/hyundai-grand-i10-nios/d3613367/?slot=0&rk=21&isP=false
https://www.carwale.com/used/cars-in-kochi/ford-freestyle/d3613389/?slot=0&rk=22&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-wagon-r/d3613399/?slot=0&rk=23&isP=false
https://www.carwale.com/used/cars-in-pune/renault-kwid/d3613447/?slot=0&rk=24&isP=false
https://www.carwale.com/used/cars-for-sale/page-158
https://www.carwale.com/used/cars-in-pune/mahindra-xuv300/d3613491/?slot=0&rk=1&isP=false
https://www.carwale.com/used/cars-in-pune/hyundai-grand-i10/d3613519/?slot=0&rk=2&isP=false
https://www.carwale.com/used/cars-in-delhi/mahindra-thar/d3613695/?slot=0&rk=3&isP=false
https://www.carwale.com/used/cars-in-delhi/mahindra-xuv500/d3613727/?slot=0&rk=4&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-swift-dzire/d3601049/?slot=0&rk=5&isP=false
https://www.carwale.com/used/cars-in-delhi/hyundai-santro/d3589447/?slot=0&rk=6&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-wagon-r/d3588093/?slot=0&rk=7&isP=false
https://www.carwale.com/used/cars-in-delhi/hyundai-grand-i10/d3587885/?slot=0&rk=8&isP=false
https://www.carwale.com/used/cars-in-chennai/maruti-suzuki-baleno/d3585197/?slot=0&rk=9&isP=false
https://www.carwale.com/used/cars-in-delhi/skoda-kushaq/d3613015/?slot=0&rk=10&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-s-cross/d3612791/?slot=0&rk=11&isP=false
https://www.carwale.com/used/cars-in-chennai/honda-amaze/d3604775/?slot=0&rk=12&isP=false
https://www.carwale.com/used/cars-in-chennai/hyundai-grand-i10/d3605731/?slot=0&rk=13&isP=false
https://www.carwale.com/used/cars-in-delhi/ford-ecosport/d3601575/?slot=0&rk=14&isP=false
https://www.carwale.com/used/cars-in-kochi/hyundai-eon/d3606555/?slot=0&rk=15&isP=false
https://www.carwale.com/used/cars-in-kochi/maruti-suzuki-baleno/d3613755/?slot=0&rk=16&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-wagon-r/d3614219/?slot=0&rk=17&isP=false
https://www.carwale.com/used/cars-in-bangalore/maruti-suzuki-baleno/d3611817/?slot=0&rk=18&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-baleno/d3602555/?slot=0&rk=19&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-wagon-r/d3601157/?slot=0&rk=20&isP=false
https://www.carwale.com/used/cars-in-pune/hyundai-i10/d3606351/?slot=0&rk=21&isP=false
https://www.carwale.com/used/cars-in-pune/maruti-suzuki-wagon-r/d3581147/?slot=0&rk=22&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-alto-800/d3590877/?slot=0&rk=23&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-wagon-r/d3588963/?slot=0&rk=24&isP=false
https://www.carwale.com/used/cars-for-sale/page-159
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-vitara-brezza/d3588175/?slot=0&rk=1&isP=false
https://www.carwale.com/used/cars-in-delhi/hyundai-grand-i10/d3588079/?slot=0&rk=2&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-wagon-r/d3588001/?slot=0&rk=3&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-vitara-brezza/d3601415/?slot=0&rk=4&isP=false
https://www.carwale.com/used/cars-in-delhi/renault-kwid/d3612215/?slot=0&rk=5&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-baleno/d3612283/?slot=0&rk=6&isP=false
https://www.carwale.com/used/cars-in-chennai/hyundai-creta/d3612443/?slot=0&rk=7&isP=false
https://www.carwale.com/used/cars-in-coimbatore/hyundai-grand-i10/d3612039/?slot=0&rk=8&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-baleno/d3614003/?slot=0&rk=9&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-baleno/d3600985/?slot=0&rk=10&isP=false
https://www.carwale.com/used/cars-in-delhi/maruti-suzuki-baleno/d3588285/?slot=0&rk=11&isP=false
https://www.carwale.com/used/cars-in-delhi/renault-kwid/d3587909/?slot=0&rk=12&isP=false
https://www.carwale.com/used/cars-in-bangalore/renault-kwid/d3604949/?slot=0&rk=13&isP=false
https://www.carwale.com/used/cars-in-delhi/hyundai-grand-i10/d3603149/?slot=0&rk=14&isP=false
https://www.carwale.com/used/cars-in-pune/maruti-suzuki-wagon-r/d3581001/?slot=0&rk=15&isP=false

(936, 936, 936, 936, 936)

In [13]:

len(Engine),len(Mileage),len(Length),len(Height),len(Seating_Capacity),len(name)

(1464, 1464, 1464, 1464, 1464, 1464)

In [14]:
df = pd.DataFrame({'name':name,'Engine':Engine,'Mileage':Mileage,'Length':Length,'Height':Height,'Seating_Capacity':Seating_Capacity,'price':price,'year':year,'km':km,'FuelType':FuelType,'Transmission':Transmission,'Owner':Owner})
print(df.info())

df1 = pd.read_csv('used_cars.csv')
df1 = df1.append(df,ignore_index=True)
print(df1.head())
df1.to_csv("used_cars.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1464 entries, 0 to 1463
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              1464 non-null   object
 1   Engine            1464 non-null   object
 2   Mileage           1464 non-null   object
 3   Length            1464 non-null   object
 4   Height            1464 non-null   object
 5   Seating_Capacity  1464 non-null   object
 6   price             1464 non-null   object
 7   year              1464 non-null   object
 8   km                1464 non-null   object
 9   FuelType          1464 non-null   object
 10  Transmission      1464 non-null   object
 11  Owner             1464 non-null   object
dtypes: object(12)
memory usage: 137.4+ KB
None
   Unnamed: 0.3  Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0                 name  \
0           0.0           0.0           0.0         0.0  maruti-suzuki-swift
1           1.0           1.0           1.0         1.0        toyota-innova
2           2.0           2.0           2.0         2.0  maruti-suzuki-swift
3           3.0           3.0           3.0         3.0        toyota-innova
4           4.0           4.0           4.0         4.0         jeep-compass

                                              Engine     Mileage   Length  \
0  1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...  21.21 kmpl  3840 mm
1  2494 cc, 4 Cylinders Inline, 4 Valves/Cylinder...   13.7 kmpl  4585 mm
2     1248 cc, 4 Cylinders Inline, 4 Valves/Cylinder  14.84 kmpl  3760 mm
3  2755 cc, 4 Cylinders Inline, 4 Valves/Cylinder...  14.29 kmpl  4735 mm
4  1368 cc, 4 Cylinders Inline, 4 Valves/Cylinder...   14.1 kmpl  4395 mm

    Height Seating_Capacity         price      year           km FuelType  \
0  1530 mm         5 Person   ₹ 7.85 Lakh  Jun 2019    32,516 km   Petrol
1  1760 mm         8 Person  ₹ 10.75 Lakh  May 2015    63,000 km   Diesel
2  1530 mm         5 Person   ₹ 2.65 Lakh  Jun 2010    80,200 km   Diesel
3  1795 mm         7 Person  ₹ 22.75 Lakh  Jun 2019  1,07,182 km   Diesel
4  1640 mm         5 Person     ₹ 19 Lakh  Jun 2020    18,902 km   Petrol

  Transmission  Owner
0    Automatic  First
1       Manual  First
2       Manual  First
3    Automatic  First
4    Automatic  First

C:\Users\kings\AppData\Local\Temp\ipykernel_19504\2372556632.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(df,ignore_index=True)

In [9]:
for i in range(97):
    name.pop()

In [9]:
import pandas as pd
df = pd.DataFrame({'name':name,'Engine':Engine,'Mileage':Mileage,'Length':Length,'Height':Height,'Seating_Capacity':Seating_Capacity,'price':price,'year':year,'km':km,'FuelType':FuelType,'Transmission':Transmission,'Owner':Owner})
print(df.info())
df.to_csv('used_cars.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              176 non-null    object
 1   Engine            176 non-null    object
 2   Mileage           176 non-null    object
 3   Length            176 non-null    object
 4   Height            176 non-null    object
 5   Seating_Capacity  176 non-null    object
 6   price             176 non-null    object
 7   year              176 non-null    object
 8   km                176 non-null    object
 9   FuelType          176 non-null    object
 10  Transmission      176 non-null    object
 11  Owner             176 non-null    object
dtypes: object(12)
memory usage: 16.6+ KB
None

In [8]:
df.duplicated().sum()

934154

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Engine            31 non-null     object
 1   Mileage           31 non-null     object
 2   Length            31 non-null     object
 3   Height            31 non-null     object
 4   Seating_Capacity  31 non-null     object
 5   price             31 non-null     object
 6   year              31 non-null     object
 7   km                31 non-null     object
 8   FuelType          31 non-null     object
 9   Transmission      31 non-null     object
 10  Owner             31 non-null     object
dtypes: object(11)
memory usage: 2.9+ KB

In [29]:
over

[['Price',
  '₹ 3.8 Lakh',
  'Manufacturing Year',
  'Jan 2012',
  'Kilometer',
  '92,000 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Manual',
  'Car Available at',
  'I R I S E T, Hyderabad',
  'Color',
  'Grey',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Apr 2012',
  'Registered at',
  'hyd',
  'Insurance',
  'Not Available',
  'Registration type',
  'Individual',
  'Last Updated',
  '15 day(s) ago'],
 ['Price',
  '₹ 2.45 Lakh',
  'Manufacturing Year',
  'Jun 1991',
  'Kilometer',
  '70,000 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Manual',
  'Car Available at',
  'Doranda, Ranchi',
  'Color',
  'White',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'Fourth',
  'Registration Year',
  'Not Available',
  'Registered at',
  'Not Available',
  'Insurance',
  'Not Available',
  'Registration type',
  'Individual',
  'Last Updated',
  '25 day(s) ago'],
 ['Price',
  '₹ 4.95 Lakh',
  'Manufacturing Year',
  'Dec 2014',
  'Kilometer',
  '42,000 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Manual',
  'Car Available at',
  'Azad Nagar, Mumbai',
  'Color',
  'White',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'Second',
  'Registration Year',
  'Dec 2014',
  'Registered at',
  'Mumbai',
  'Insurance',
  'Comprehensive\n\t\t\t\t\t\t, till 14 Aug 2023',
  'Registration type',
  'Individual',
  'Last Updated',
  '10 day(s) ago'],
 ['Price',
  '₹ 3.45 Lakh',
  'Manufacturing Year',
  'Jun 2019',
  'Kilometer',
  '60,969 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Manual',
  'Car Available at',
  'Ratu, Ranchi',
  'Color',
  'Silver',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Not Available',
  'Registered at',
  'Not Available',
  'Insurance',
  'Not Available',
  'Registration type',
  'Individual',
  'Last Updated',
  '3 month(s) ago'],
 ['Price',
  '₹ 24.75 Lakh',
  'Manufacturing Year',
  'Jun 2018',
  'Kilometer',
  '24,500 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Automatic',
  'Car Available at',
  'I. I. T. Powai, Mumbai',
  'Color',
  'Yellow',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Not Available',
  'Registered at',
  'Not Available',
  'Insurance',
  'Not Available',
  'Registration type',
  'Individual',
  'Last Updated',
  '1 day(s) ago'],
 ['Price',
  '₹ 5.55 Lakh',
  'Manufacturing Year',
  'Jun 2015',
  'Kilometer',
  '72,941 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Manual',
  'Car Available at',
  'Mahim, Mumbai',
  'Color',
  'White',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Aug 2015',
  'Registered at',
  'Mumbai',
  'Insurance',
  'Comprehensive\n\t\t\t\t\t\t, till 27 Jul 2023',
  'Registration type',
  'Individual',
  'Last Updated',
  '1 month(s) ago'],
 ['Price',
  '₹ 7.35 Lakh',
  'Manufacturing Year',
  'Jun 2022',
  'Kilometer',
  '9,000 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Manual',
  'Car Available at',
  'Khairatabad H O, Hyderabad',
  'Color',
  'White',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Not Available',
  'Registered at',
  'Not Available',
  'Insurance',
  'Comprehensive',
  'Registration type',
  'Individual',
  'Last Updated',
  '5 day(s) ago'],
 ['Price',
  '₹ 4.7 Lakh',
  'Manufacturing Year',
  'May 2013',
  'Kilometer',
  '82,500 km',
  'Fuel Type',
  'Diesel',
  'Transmission',
  'Manual',
  'Car Available at',
  'Jalgaon Bazar, Jalgaon',
  'Color',
  'White',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'Second',
  'Registration Year',
  'Jul 2013',
  'Registered at',
  'Kolhapur',
  'Insurance',
  'Not Available',
  'Registration type',
  'Individual',
  'Last Updated',
  '26 day(s) ago'],
 ['Price',
  '₹ 4.75 Lakh',
  'Manufacturing Year',
  'Apr 2018',
  'Kilometer',
  '40,699 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Manual',
  'Car Available at',
  'Malihabad, Lucknow',
  'Color',
  'Silver',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Jul 2018',
  'Registered at',
  'Lucknow',
  'Insurance',
  'Not Available',
  'Registration type',
  'Individual',
  'Last Updated',
  '17 day(s) ago'],
 ['Price',
  '₹ 3.85 Lakh',
  'Manufacturing Year',
  'Dec 2015',
  'Kilometer',
  '55,488 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Automatic',
  'Car Available at',
  'Malihabad, Lucknow',
  'Color',
  'Silver',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Jan 2016',
  'Registered at',
  'kanpur',
  'Insurance',
  'Not Available',
  'Registration type',
  'Individual',
  'Last Updated',
  '1 month(s) ago'],
 ['Price',
  '₹ 5.7 Lakh',
  'Manufacturing Year',
  'Nov 2013',
  'Kilometer',
  '79,592 km',
  'Fuel Type',
  'Diesel',
  'Transmission',
  'Manual',
  'Car Available at',
  'Malihabad, Lucknow',
  'Color',
  'Grey',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Feb 2014',
  'Registered at',
  'Kanpur',
  'Insurance',
  'Comprehensive\n\t\t\t\t\t\t, till 16 Feb 2024',
  'Registration type',
  'Individual',
  'Last Updated',
  '12 day(s) ago'],
 ['Price',
  '₹ 5.25 Lakh',
  'Manufacturing Year',
  'Mar 2019',
  'Kilometer',
  '44,620 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Manual',
  'Car Available at',
  'Lajpat Nagar, Delhi',
  'Color',
  'Silver',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Apr 2019',
  'Registered at',
  'Faridabad',
  'Insurance',
  'Comprehensive\n\t\t\t\t\t\t, till 18 Apr 2023',
  'Registration type',
  'Individual',
  'Last Updated',
  '1 month(s) ago'],
 ['Price',
  '₹ 9.2 Lakh',
  'Manufacturing Year',
  'Jan 2018',
  'Kilometer',
  '22,117 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Automatic',
  'Car Available at',
  'Vile Parle East, Mumbai',
  'Color',
  'Brown',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Mar 2018',
  'Registered at',
  'Vasai',
  'Insurance',
  'Comprehensive\n\t\t\t\t\t\t, till 20 Mar 2023',
  'Registration type',
  'Corporate',
  'Last Updated',
  '23 day(s) ago'],
 ['Price',
  '₹ 42 Lakh',
  'Manufacturing Year',
  'Oct 2021',
  'Kilometer',
  '11,725 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Automatic',
  'Car Available at',
  'Vile Parle East, Mumbai',
  'Color',
  'Red',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Jan 2022',
  'Registered at',
  'Kolhapur',
  'Insurance',
  'Comprehensive\n\t\t\t\t\t\t, till 28 Dec 2023',
  'Registration type',
  'Individual',
  'Last Updated',
  '13 day(s) ago'],
 ['Price',
  '₹ 11.9 Lakh',
  'Manufacturing Year',
  'Sep 2018',
  'Kilometer',
  '50,824 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Automatic',
  'Car Available at',
  'Vile Parle East, Mumbai',
  'Color',
  'Red',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Oct 2018',
  'Registered at',
  'Mumbai',
  'Insurance',
  'Comprehensive\n\t\t\t\t\t\t, till 23 Jun 2023',
  'Registration type',
  'Individual',
  'Last Updated',
  '16 day(s) ago'],
 ['Price',
  '₹ 3.4 Lakh',
  'Manufacturing Year',
  'Jul 2014',
  'Kilometer',
  '82,772 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Manual',
  'Car Available at',
  'Nagpur MIDC, Nagpur',
  'Color',
  'Grey',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'Second',
  'Registration Year',
  'Jul 2014',
  'Registered at',
  'Nagpur',
  'Insurance',
  'Third Party\n\t\t\t\t\t\t, till 13 Jun 2023',
  'Registration type',
  'Individual',
  'Last Updated',
  '3 day(s) ago'],
 ['Price',
  '₹ 6.7 Lakh',
  'Manufacturing Year',
  'Jan 2017',
  'Kilometer',
  '78,184 km',
  'Fuel Type',
  'Diesel',
  'Transmission',
  'Manual',
  'Car Available at',
  'Sector-55, Noida',
  'Color',
  'Blue',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Mar 2017',
  'Registered at',
  'Noida',
  'Insurance',
  'Not Available',
  'Registration type',
  'Individual',
  'Last Updated',
  '1 month(s) ago'],
 ['Price',
  '₹ 8.25 Lakh',
  'Manufacturing Year',
  'Nov 2017',
  'Kilometer',
  '41,468 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Automatic',
  'Car Available at',
  'Sector-55, Noida',
  'Color',
  'White',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Jan 2018',
  'Registered at',
  'wazirpur',
  'Insurance',
  'Not Available',
  'Registration type',
  'Individual',
  'Last Updated',
  '19 day(s) ago'],
 ['Price',
  '₹ 39 Lakh',
  'Manufacturing Year',
  'Jul 2019',
  'Kilometer',
  '15,971 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Automatic',
  'Car Available at',
  'Vile Parle East, Mumbai',
  'Color',
  'Blue',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Sep 2019',
  'Registered at',
  'Mumbai',
  'Insurance',
  'Comprehensive\n\t\t\t\t\t\t, till 03 Sep 2023',
  'Registration type',
  'Individual',
  'Last Updated',
  '2 day(s) ago'],
 ['Price',
  '₹ 3 Lakh',
  'Manufacturing Year',
  'Aug 2016',
  'Kilometer',
  '10,600 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Manual',
  'Car Available at',
  'Sector-55, Noida',
  'Color',
  'Brown',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Jul 2017',
  'Registered at',
  'wazirpur',
  'Insurance',
  'Comprehensive\n\t\t\t\t\t\t, till 16 Mar 2023',
  'Registration type',
  'Individual',
  'Last Updated',
  '3 day(s) ago'],
 ['Price',
  '₹ 5.99 Lakh',
  'Manufacturing Year',
  'Feb 2020',
  'Kilometer',
  '21,594 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Manual',
  'Car Available at',
  'Kamaripeth, Hubli',
  'Color',
  'White',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Oct 2020',
  'Registered at',
  'RAICHUR',
  'Insurance',
  'Not Available',
  'Registration type',
  'Individual',
  'Last Updated',
  '5 day(s) ago'],
 ['Price',
  '₹ 4.75 Lakh',
  'Manufacturing Year',
  'Mar 2018',
  'Kilometer',
  '89,739 km',
  'Fuel Type',
  'CNG',
  'Transmission',
  'Manual',
  'Car Available at',
  'Dunkirk Line, Pune',
  'Color',
  'White',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'May 2018',
  'Registered at',
  'pune',
  'Insurance',
  'Comprehensive\n\t\t\t\t\t\t, till 04 May 2023',
  'Registration type',
  'Individual',
  'Last Updated',
  '14 day(s) ago'],
 ['Price',
  '₹ 5.95 Lakh',
  'Manufacturing Year',
  'Jan 2022',
  'Kilometer',
  '12,290 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Manual',
  'Car Available at',
  'Dunkirk Line, Pune',
  'Color',
  'Grey',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Feb 2022',
  'Registered at',
  'pune',
  'Insurance',
  'Not Available',
  'Registration type',
  'Individual',
  'Last Updated',
  '14 day(s) ago'],
 ['Price',
  '₹ 6.9 Lakh',
  'Manufacturing Year',
  'Jun 2018',
  'Kilometer',
  '74,290 km',
  'Fuel Type',
  'Diesel',
  'Transmission',
  'Manual',
  'Car Available at',
  'Dunkirk Line, Pune',
  'Color',
  'Grey',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Aug 2018',
  'Registered at',
  'pune',
  'Insurance',
  'Not Available',
  'Registration type',
  'Individual',
  'Last Updated',
  '14 day(s) ago'],
 ['Price',
  '₹ 4.25 Lakh',
  'Manufacturing Year',
  'Mar 2013',
  'Kilometer',
  '51,602 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Manual',
  'Car Available at',
  'Dunkirk Line, Pune',
  'Color',
  'Silver',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'May 2013',
  'Registered at',
  'Pune',
  'Insurance',
  'Comprehensive\n\t\t\t\t\t\t, till 24 May 2023',
  'Registration type',
  'Individual',
  'Last Updated',
  '1 month(s) ago'],
 ['Price',
  '₹ 5.49 Lakh',
  'Manufacturing Year',
  'Feb 2021',
  'Kilometer',
  '9,649 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Manual',
  'Car Available at',
  'Kamaripeth, Hubli',
  'Color',
  'Silver',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Apr 2021',
  'Registered at',
  'DAVANAGERE',
  'Insurance',
  'Comprehensive\n\t\t\t\t\t\t, till 13 Feb 2024',
  'Registration type',
  'Individual',
  'Last Updated',
  '5 day(s) ago'],
 ['Price',
  '₹ 5.5 Lakh',
  'Manufacturing Year',
  'Aug 2014',
  'Kilometer',
  '79,649 km',
  'Fuel Type',
  'Diesel',
  'Transmission',
  'Manual',
  'Car Available at',
  'Dunkirk Line, Pune',
  'Color',
  'Red',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'Second',
  'Registration Year',
  'Oct 2014',
  'Registered at',
  'Pune',
  'Insurance',
  'Not Available',
  'Registration type',
  'Individual',
  'Last Updated',
  '1 month(s) ago'],
 ['Price',
  '₹ 8.7 Lakh',
  'Manufacturing Year',
  'Jun 2019',
  'Kilometer',
  '44,091 km',
  'Fuel Type',
  'Diesel',
  'Transmission',
  'Manual',
  'Car Available at',
  'Dunkirk Line, Pune',
  'Color',
  'Grey',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'Second',
  'Registration Year',
  'Aug 2019',
  'Registered at',
  'Pimpri Chinchwad',
  'Insurance',
  'Not Available',
  'Registration type',
  'Individual',
  'Last Updated',
  '14 day(s) ago'],
 ['Price',
  '₹ 8.79 Lakh',
  'Manufacturing Year',
  'Feb 2020',
  'Kilometer',
  '36,861 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Manual',
  'Car Available at',
  'Kamaripeth, Hubli',
  'Color',
  'White',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Aug 2020',
  'Registered at',
  'DANDELI',
  'Insurance',
  'Comprehensive\n\t\t\t\t\t\t, till 10 Feb 2024',
  'Registration type',
  'Individual',
  'Last Updated',
  '6 day(s) ago'],
 ['Price',
  '₹ 30.5 Lakh',
  'Manufacturing Year',
  'Jul 2021',
  'Kilometer',
  '19,742 km',
  'Fuel Type',
  'Diesel',
  'Transmission',
  'Automatic',
  'Car Available at',
  'Vile Parle East, Mumbai',
  'Color',
  'Black',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Aug 2021',
  'Registered at',
  'Kalyan',
  'Insurance',
  'Comprehensive\n\t\t\t\t\t\t, till 15 Aug 2023',
  'Registration type',
  'Individual',
  'Last Updated',
  '2 day(s) ago'],
 ['Price',
  '₹ 3.95 Lakh',
  'Manufacturing Year',
  'Aug 2017',
  'Kilometer',
  '62,962 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Manual',
  'Car Available at',
  'Malihabad, Lucknow',
  'Color',
  'White',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Nov 2017',
  'Registered at',
  'lucknow',
  'Insurance',
  'Third Party\n\t\t\t\t\t\t, till 24 Feb 2024',
  'Registration type',
  'Individual',
  'Last Updated',
  '1 day(s) ago'],
 ['Price',
  '₹ 6.49 Lakh',
  'Manufacturing Year',
  'Feb 2021',
  'Kilometer',
  '10,546 km',
  'Fuel Type',
  'Petrol',
  'Transmission',
  'Manual',
  'Car Available at',
  'Udupi City, Udupi',
  'Color',
  'Grey',
  'Fuel Economy',
  'Not Available',
  'No. of Owner(s)',
  'First',
  'Registration Year',
  'Apr 2021',
  'Registered at',
  'BENGALURU',
  'Insurance',
  'Comprehensive\n\t\t\t\t\t\t, till 29 Mar 2023',
  'Registration type',
  'Individual',
  'Last Updated',
  '13 day(s) ago']]

In [5]:
spec

[['Engine\n998 cc, 3 Cylinders Inline, 4 Valves/Cylinder, DOHC',
  'Engine Type\nK10B',
  'Fuel Type \nPetrol',
  'Max Power (bhp@rpm)\n67 bhp @ 6200 rpm',
  'Max Torque (Nm@rpm)\n90 Nm @ 3500 rpm',
  'Mileage (ARAI)\n20.5 kmpl',
  'Drivetrain\nFWD',
  'Transmission\nManual - 5 Gears',
  'Turbocharger/Supercharger\nNo',
  'Length\n3599 mm',
  'Width\n1495 mm',
  'Height\n1700 mm',
  'Wheelbase\n2400 mm',
  'Ground Clearance\n165 mm',
  'Kerb Weight\n885 kg',
  'Doors\n5 Doors',
  'Seating Capacity\n5 Person',
  'No of Seating Rows\n2 Rows',
  'Bootspace\n180 litres',
  'Fuel Tank Capacity\n35 litres',
  'Front Suspension\nMc Pherson Strut with coil spring',
  'Rear Suspension\nIsolated trailing link with coil spring',
  'Front Brake Type\nDisc',
  'Rear Brake Type\nDrum',
  'Minimum Turning Radius\n4.6 metres',
  'Steering Type\nPower assisted (Electric)',
  'Wheels\nSteel Rims',
  'Spare Wheel\nSteel',
  'Front Tyres\n155 / 65 R14',
  'Rear Tyres\n155 / 65 R14'],
 ['Top Speed\n245 Kmph',
  'Acceleration (0-100 kmph)\n6.1 seconds',
  'Engine\n2998 cc, 6 Cylinders Inline, 4 Valves/Cylinder, DOHC',
  'Engine Type\nB58 Turbocharged I6',
  'Fuel Type \nPetrol',
  'Max Power (bhp@rpm)\n335 bhp @ 5500 rpm',
  'Max Torque (Nm@rpm)\n450 Nm @ 1500 rpm',
  'Mileage (ARAI)\n10.5 kmpl',
  'Driving Range\n874 Km',
  'Drivetrain\nAWD',
  'Transmission\nAutomatic (TC) - 8 Gears, Manual Override & Paddle Shift, Sport Mode',
  'Emission Standard\nBS 6',
  'Turbocharger/Supercharger\nTurbocharged',
  'Others\nRegenerative Braking, Idle Start/Stop',
  'Alternate Fuel\nNot Applicable',
  'Length\n5151 mm',
  'Width\n2000 mm',
  'Height\n1805 mm',
  'Wheelbase\n3105 mm',
  'Ground Clearance\n221 mm',
  'Kerb Weight\n2395 kg',
  'Doors\n5 Doors',
  'Seating Capacity\n6 Person',
  'No of Seating Rows\n3 Rows',
  'Bootspace\n326 litres',
  'Fuel Tank Capacity\n83 litres',
  'Four Wheel Steering\n0',
  'Front Suspension\n Double-wishbone Axle with Self-leveling Automatic Air Springs',
  'Rear Suspension\nFive-link Axle  with Self-leveling Automatic Air Springs',
  'Front Brake Type\nVentilated Disc',
  'Rear Brake Type\nVentilated Disc',
  'Minimum Turning Radius\n6.5 metres',
  'Steering Type\nPower assisted (Electric)',
  'Wheels\nAlloy Wheels',
  'Spare Wheel\nSpace Saver',
  'Front Tyres\n285 / 45 R21',
  'Rear Tyres\n285 / 45 R21'],
 ['Engine\n2143 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
  'Engine Type\nBlue-efficiency',
  'Fuel Type \nDiesel',
  'Max Power (bhp@rpm)\n168 bhp @ 3000 rpm',
  'Max Torque (Nm@rpm)\n400 Nm @ 1400 rpm',
  'Mileage (ARAI)\n19.27 kmpl',
  'Drivetrain\nRWD',
  'Transmission\nAutomatic - 7 Gears, Paddle Shift, Sport Mode',
  'Turbocharger/Supercharger\nTurbocharged',
  'Others\n Idle Start/Stop',
  'Length\n4686 mm',
  'Width\n1810 mm',
  'Height\n1442 mm',
  'Wheelbase\n2840 mm',
  'Ground Clearance\n157 mm',
  'Kerb Weight\n1655 kg',
  'Doors\n4 Doors',
  'Seating Capacity\n5 Person',
  'No of Seating Rows\n2 Rows',
  'Bootspace\n480 litres',
  'Fuel Tank Capacity\n66 litres',
  'Front Suspension\nAGILITY CONTROL suspension with selective damping system',
  'Rear Suspension\nAGILITY CONTROL suspension with selective damping system',
  'Front Brake Type\nDisc',
  'Rear Brake Type\nDisc',
  'Minimum Turning Radius\n5.61 metres',
  'Steering Type\nPower assisted (Electric)',
  'Wheels\nAlloy Wheels',
  'Spare Wheel\nSpace Saver',
  'Front Tyres\n225 / 50 R17',
  'Rear Tyres\n225 / 50 R17'],
 ['Engine\n2967 cc, 6 Cylinders In V Shape, 4 Valves/Cylinder, DOHC',
  'Engine Type\nV6 diesel engine with common rail injection and exhaust-gas turbocharging.',
  'Fuel Type \nDiesel',
  'Max Power (bhp@rpm)\n245 bhp @ 2910 rpm',
  'Max Torque (Nm@rpm)\n600 Nm @ 1500 rpm',
  'Mileage (ARAI)\n14.75 kmpl',
  'Drivetrain\n4WD / AWD',
  'Transmission\nAutomatic - 8 Gears, Manual Override & Paddle Shift, Sport Mode',
  'Emission Standard\nBS 4',
  'Turbocharger/Supercharger\nTurbocharged',
  'Length\n5052 mm',
  'Width\n1968 mm',
  'Height\n1740 mm',
  'Wheelbase\n2994 mm',
  'Ground Clearance\n200 mm',
  'Kerb Weight\n2330 kg',
  'Doors\n5 Doors',
  'Seating Capacity\n7 Person',
  'No of Seating Rows\n3 Rows',
  'Bootspace\n295 litres',
  'Fuel Tank Capacity\n75 litres',
  'Front Suspension\nadaptive air suspesion',
  'Rear Suspension\nadaptive air suspesion',
  'Front Brake Type\nDisc',
  'Rear Brake Type\nDisc',
  'Minimum Turning Radius\n6.1 metres',
  'Steering Type\nPower assisted (Electric)',
  'Wheels\nAlloy Wheels',
  'Spare Wheel\nAlloy',
  'Front Tyres\n255 / 55 R19',
  'Rear Tyres\n255 / 55 R19'],
 ['Engine\n3198 cc, 5 Cylinders Inline, 4 Valves/Cylinder, DOHC',
  'Engine Type\n3.2 l TDCi',
  'Fuel Type \nDiesel',
  'Max Power (bhp@rpm)\n197 bhp @ 3000 rpm',
  'Max Torque (Nm@rpm)\n470 Nm @ 1750 rpm',
  'Mileage (ARAI)\n10.91 kmpl',
  'Drivetrain\n4WD / AWD',
  'Transmission\nAutomatic - 6 Gears, Manual Override, Sport Mode',
  'Turbocharger/Supercharger\nTurbocharged',
  'Length\n4892 mm',
  'Width\n1860 mm',
  'Height\n1837 mm',
  'Wheelbase\n2850 mm',
  'Ground Clearance\n225 mm',
  'Doors\n5 Doors',
  'Seating Capacity\n7 Person',
  'No of Seating Rows\n3 Rows',
  'Fuel Tank Capacity\n80 litres',
  'Front Suspension\nIndependent Coll, spring with anti-roll bar',
  'Rear Suspension\nCoil spring, Watts linkage Type with Anti-roll Bar',
  'Front Brake Type\nDisc',
  'Rear Brake Type\nDisc',
  'Minimum Turning Radius\n4.9 metres',
  'Steering Type\nPower assisted (Electric)',
  'Wheels\nAlloy Wheels',
  'Spare Wheel\nSteel',
  'Front Tyres\n265 / 60 R18',
  'Rear Tyres\n265 / 60 R18'],
 ['Engine\n1498 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
  'Engine Type\niDTEC',
  'Fuel Type \nDiesel',
  'Max Power (bhp@rpm)\n98 bhp @ 3600 rpm',
  'Max Torque (Nm@rpm)\n200 Nm @ 1750 rpm',
  'Mileage (ARAI)\n27.3 kmpl',
  'Drivetrain\nFWD',
  'Transmission\nManual - 6 Gears',
  'Turbocharger/Supercharger\nYes',
  'Length\n3955 mm',
  'Width\n1694 mm',
  'Height\n1544 mm',
  'Wheelbase\n2530 mm',
  'Ground Clearance\n165 mm',
  'Kerb Weight\n1066 kg',
  'Doors\n5 Doors',
  'Seating Capacity\n5 Person',
  'No of Seating Rows\n2 Rows',
  'Bootspace\n354 litres',
  'Fuel Tank Capacity\n40 litres',
  'Front Suspension\nMcPherson strut with coil springs',
  'Rear Suspension\nTorsion beam axle with coil springs',
  'Front Brake Type\nDisc',
  'Rear Brake Type\nDrum',
  'Minimum Turning Radius\n5.1 metres',
  'Steering Type\nPower assisted (Electric)',
  'Wheels\nAlloy Wheels',
  'Spare Wheel\nSteel',
  'Front Tyres\n175 / 65 R15',
  'Rear Tyres\n175 / 65 R15'],
 ['Engine\n1598 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
  'Engine Type\n4 cylinder inline, transverse in front',
  'Fuel Type \nPetrol',
  'Max Power (bhp@rpm)\n104 bhp @ 5250 rpm',
  'Max Torque (Nm@rpm)\n153 Nm @ 3800 rpm',
  'Mileage (ARAI)\n15 kmpl',
  'Drivetrain\nFWD',
  'Transmission\nManual - 5 Gears',
  'Turbocharger/Supercharger\nNo',
  'Length\n4386 mm',
  'Width\n1699 mm',
  'Height\n1466 mm',
  'Wheelbase\n2552 mm',
  'Ground Clearance\n168 mm',
  'Kerb Weight\n1145 kg',
  'Doors\n4 Doors',
  'Seating Capacity\n5 Person',
  'No of Seating Rows\n2 Rows',
  'Bootspace\n460 litres',
  'Fuel Tank Capacity\n55 litres',
  'Front Suspension\nMcPherson suspension with lower triangular links and torsion stabilizer',
  'Rear Suspension\ncompound link crank-axle',
  'Front Brake Type\nDisc',
  'Rear Brake Type\nDrum',
  'Minimum Turning Radius\n5.3 metres',
  'Steering Type\nPower assisted (Electric)',
  'Wheels\nSteel Rims',
  'Spare Wheel\nSteel',
  'Front Tyres\n185 / 60 R15',
  'Rear Tyres\n185 / 60 R15'],
 ['Engine\n1395 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
  'Engine Type\nInline four-cylinder TFSI Petrol Engine',
  'Fuel Type \nPetrol',
  'Max Power (bhp@rpm)\n148 bhp @ 5000 rpm',
  'Max Torque (Nm@rpm)\n250 Nm @ 1500 rpm',
  'Drivetrain\nFWD',
  'Transmission\nAutomatic - 6 Gears, Manual Override, Sport Mode',
  'Emission Standard\nBS 4',
  'Turbocharger/Supercharger\nTurbocharged',
  'Others\n Idle Start/Stop',
  'Length\n4456 mm',
  'Width\n1796 mm',
  'Height\n1416 mm',
  'Wheelbase\n2637 mm',
  'Doors\n4 Doors',
  'Seating Capacity\n5 Person',
  'No of Seating Rows\n2 Rows',
  'Bootspace\n425 litres',
  'Fuel Tank Capacity\n50 litres',
  'Front Suspension\nMcPherson strut',
  'Rear Suspension\nMulti - link',
  'Front Brake Type\nDisc',
  'Rear Brake Type\nDisc',
  'Steering Type\nPower assisted (Electric)',
  'Wheels\nAlloy Wheels',
  'Spare Wheel\nAlloy',
  'Front Tyres\n225 / 45 R17',
  'Rear Tyres\n225 / 45 R17'],
 ['Engine\n1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
  'Engine Type\n1.2 Kappa Dual VTVT Petrol',
  'Fuel Type \nPetrol',
  'Max Power (bhp@rpm)\n81 bhp @ 6000 rpm',
  'Max Torque (Nm@rpm)\n114 Nm @ 4000 rpm',
  'Mileage (ARAI)\n19.77 kmpl',
  'Drivetrain\nFWD',
  'Transmission\nManual - 5 Gears',
  'Turbocharger/Supercharger\nNo',
  'Length\n3765 mm',
  'Width\n1660 mm',
  'Height\n1520 mm',
  'Wheelbase\n2425 mm',
  'Ground Clearance\n165 mm',
  'Doors\n5 Doors',
  'Seating Capacity\n5 Person',
  'No of Seating Rows\n2 Rows',
  'Bootspace\n256 litres',
  'Fuel Tank Capacity\n43 litres',
  'Front Suspension\nMcPherson Strut',
  'Rear Suspension\nCoupled Torsion Beam Axle',
  'Front Brake Type\nDisc',
  'Rear Brake Type\nDrum',
  'Steering Type\nPower assisted (Electric)',
  'Wheels\nSteel Rims',
  'Spare Wheel\nSteel',
  'Front Tyres\n165 / 65 R14',
  'Rear Tyres\n165 / 65 R14'],
 ['Engine\n998 cc, 3 Cylinders Inline, 4 Valves/Cylinder, DOHC',
  'Engine Type\nK10B',
  'Fuel Type \nPetrol',
  'Max Power (bhp@rpm)\n67 bhp @ 6200 rpm',
  'Max Torque (Nm@rpm)\n90 Nm @ 3500 rpm',
  'Mileage (ARAI)\n20.5 kmpl',
  'Drivetrain\nFWD',
  'Transmission\nAMT - 5 Gears',
  'Turbocharger/Supercharger\nNo',
  'Length\n3599 mm',
  'Width\n1495 mm',
  'Height\n1700 mm',
  'Wheelbase\n2400 mm',
  'Ground Clearance\n165 mm',
  'Kerb Weight\n890 kg',
  'Doors\n5 Doors',
  'Seating Capacity\n5 Person',
  'No of Seating Rows\n2 Rows',
  'Bootspace\n180 litres',
  'Fuel Tank Capacity\n35 litres',
  'Front Suspension\nMc Pherson Strut with coil spring',
  'Rear Suspension\nIsolated trailing link with coil spring',
  'Front Brake Type\nDisc',
  'Rear Brake Type\nDrum',
  'Minimum Turning Radius\n4.6 metres',
  'Steering Type\nPower assisted (Electric)',
  'Wheels\nSteel Rims',
  'Spare Wheel\nSteel',
  'Front Tyres\n155 / 65 R14',
  'Rear Tyres\n155 / 65 R14'],
 ['Engine\n1582 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
  'Fuel Type \nDiesel',
  'Max Power (bhp@rpm)\n126 bhp @ 4000 rpm',
  'Max Torque (Nm@rpm)\n260 Nm @ 1900 rpm',
  'Mileage (ARAI)\n22.32 kmpl',
  'Drivetrain\nFWD',
  'Transmission\nManual - 6 Gears',
  'Turbocharger/Supercharger\nNo',
  'Length\n4370 mm',
  'Width\n1700 mm',
  'Height\n1475 mm',
  'Wheelbase\n2570 mm',
  'Ground Clearance\n170 mm',
  'Kerb Weight\n1171 kg',
  'Doors\n4 Doors',
  'Seating Capacity\n5 Person',
  'No of Seating Rows\n2 Rows',
  'Bootspace\n465 litres',
  'Fuel Tank Capacity\n43 litres',
  'Front Suspension\nMacPherson struts with coil spring',
  'Rear Suspension\nCouple torsion beam axle',
  'Front Brake Type\nDisc',
  'Rear Brake Type\nDisc',
  'Minimum Turning Radius\n5.2 metres',
  'Steering Type\nPower assisted (Electric)',
  'Wheels\nAlloy Wheels',
  'Spare Wheel\nSteel',
  'Front Tyres\n195 / 55 R16',
  'Rear Tyres\n195 / 55 R16'],
 ['Engine\n1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
  'Engine Type\n1.2 Kappa Dual VTVT Petrol',
  'Fuel Type \nPetrol',
  'Max Power (bhp@rpm)\n81 bhp @ 6000 rpm',
  'Max Torque (Nm@rpm)\n114 Nm @ 4000 rpm',
  'Mileage (ARAI)\n18.9 kmpl',
  'Drivetrain\nFWD',
  'Transmission\nManual - 5 Gears',
  'Turbocharger/Supercharger\nNo',
  'Length\n3765 mm',
  'Width\n1660 mm',
  'Height\n1520 mm',
  'Wheelbase\n2425 mm',
  'Ground Clearance\n165 mm',
  'Doors\n5 Doors',
  'Seating Capacity\n5 Person',
  'No of Seating Rows\n2 Rows',
  'Bootspace\n256 litres',
  'Fuel Tank Capacity\n43 litres',
  'Front Suspension\nMcPherson Strut',
  'Rear Suspension\nCoupled Torsion Beam Axle',
  'Front Brake Type\nDisc',
  'Rear Brake Type\nDrum',
  'Minimum Turning Radius\n5.2 metres',
  'Steering Type\nPower assisted (Electric)',
  'Wheels\nSteel Rims',
  'Spare Wheel\nSteel',
  'Front Tyres\n165 / 65 R14',
  'Rear Tyres\n165 / 65 R14'],
 ['Engine\n1497 cc, 4 Cylinders Inline, 4 Valves/Cylinder, SOHC',
  'Engine Type\n1.5 L i-VTEC Engine',
  'Fuel Type \nPetrol',
  'Max Power (bhp@rpm)\n117 bhp @ 6600 rpm',
  'Max Torque (Nm@rpm)\n145 Nm @ 4600 rpm',
  'Mileage (ARAI)\n18 kmpl',
  'Drivetrain\nFWD',
  'Transmission\nAutomatic (CVT), Paddle Shift',
  'Emission Standard\nBS 4',
  'Turbocharger/Supercharger\nNo',
  'Length\n4440 mm',
  'Width\n1695 mm',
  'Height\n1495 mm',
  'Wheelbase\n2600 mm',
  'Ground Clearance\n165 mm',
  'Kerb Weight\n1080 kg',
  'Doors\n4 Doors',
  'Seating Capacity\n5 Person',
  'No of Seating Rows\n2 Rows',
  'Bootspace\n510 litres',
  'Fuel Tank Capacity\n40 litres',
  'Front Suspension\nMcPherson Strut, Coil Spring',
  'Rear Suspension\nTorsion beam axle with stabilizer, coil spring',
  'Front Brake Type\nDisc',
  'Rear Brake Type\nDrum',
  'Minimum Turning Radius\n5.3 metres',
  'Steering Type\nPower assisted (Electric)',
  'Wheels\nAlloy Wheels',
  'Spare Wheel\nSteel',
  'Front Tyres\n175 / 65 R15',
  'Rear Tyres\n175 / 65 R15'],
 ['Engine\n1998 cc, 4 Cylinders Inline, 4 Valves/Cylinder',
  'Fuel Type \nPetrol',
  'Max Power (bhp@rpm)\n189 bhp @',
  'Max Torque (Nm@rpm)\n280 Nm @ 1250 rpm',
  'Mileage (ARAI)\n18.2 kmpl',
  'Transmission\nAutomatic - 6 Gears, Sport Mode',
  'Length\n3850 mm',
  'Width\n1727 mm',
  'Height\n1414 mm',
  'Wheelbase\n2495 mm',
  'Kerb Weight\n1220 kg',
  'Doors\n3 Doors',
  'Seating Capacity\n4 Person',
  'No of Seating Rows\n2 Rows',
  'Bootspace\n211 litres',
  'Fuel Tank Capacity\n44 litres',
  'Front Suspension\nSingle joint spring-strut front axle',
  'Rear Suspension\nMultiple control-arm rear axle',
  'Front Brake Type\nDisc',
  'Rear Brake Type\nDisc',
  'Spare Wheel\nAlloy',
  'Front Tyres\n195 / 55 R16',
  'Rear Tyres\n195 / 55 R16'],
 ['Engine\n1591 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
  'Engine Type\nPetrol Dual VTVT',
  'Fuel Type \nPetrol',
  'Max Power (bhp@rpm)\n122 bhp @ 6400 rpm',
  'Max Torque (Nm@rpm)\n151 Nm @ 4850 rpm',
  'Mileage (ARAI)\n15.29 kmpl',
  'Drivetrain\nFWD',
  'Transmission\nAutomatic - 6 Gears',
  'Turbocharger/Supercharger\nNo',
  'Length\n4270 mm',
  'Width\n1780 mm',
  'Height\n1665 mm',
  'Wheelbase\n2590 mm',
  'Ground Clearance\n190 mm',
  'Doors\n5 Doors',
  'Seating Capacity\n5 Person',
  'No of Seating Rows\n2 Rows',
  'Bootspace\n400 litres',
  'Fuel Tank Capacity\n55 litres',
  'Front Suspension\nMc Pherson Strut Type with Coil Spring',
  'Rear Suspension\nCoupled Torsion Beam Axle (CTBA) with Coil Spring',
  'Front Brake Type\nDisc',
  'Rear Brake Type\nDrum',
  'Minimum Turning Radius\n5.2 metres',
  'Steering Type\nPower assisted (Electric)',
  'Wheels\nAlloy Wheels',
  'Spare Wheel\nSteel',
  'Front Tyres\n215 / 60 R17',
  'Rear Tyres\n215 / 60 R17'],
 ['Engine\n998 cc, 3 Cylinders Inline, 4 Valves/Cylinder, DOHC',
  'Engine Type\nK10B',
  'Fuel Type \nPetrol',
  'Max Power (bhp@rpm)\n67 bhp @ 6200 rpm',
  'Max Torque (Nm@rpm)\n90 Nm @ 3500 rpm',
  'Mileage (ARAI)\n20.5 kmpl',
  'Drivetrain\nFWD',
  'Transmission\nManual - 5 Gears',
  'Turbocharger/Supercharger\nNo',
  'Length\n3599 mm',
  'Width\n1495 mm',
  'Height\n1700 mm',
  'Wheelbase\n2400 mm',
  'Ground Clearance\n165 mm',
  'Kerb Weight\n885 kg',
  'Doors\n5 Doors',
  'Seating Capacity\n5 Person',
  'No of Seating Rows\n2 Rows',
  'Bootspace\n180 litres',
  'Fuel Tank Capacity\n35 litres',
  'Front Suspension\nMc Pherson Strut with coil spring',
  'Rear Suspension\nIsolated trailing link with coil spring',
  'Front Brake Type\nDisc',
  'Rear Brake Type\nDrum',
  'Minimum Turning Radius\n4.6 metres',
  'Steering Type\nPower assisted (Electric)',
  'Wheels\nSteel Rims',
  'Spare Wheel\nSteel',
  'Front Tyres\n155 / 65 R14',
  'Rear Tyres\n155 / 65 R14'],
 ['Engine\n1248 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
  'Engine Type\nDDiS 200',
  'Fuel Type \nDiesel',
  'Max Power (bhp@rpm)\n89 bhp @ 4000 rpm',
  'Max Torque (Nm@rpm)\n200 Nm @ 1750 rpm',
  'Mileage (ARAI)\n24.29 kmpl',
  'Drivetrain\nFWD',
  'Transmission\nManual - 5 Gears',
  'Emission Standard\nBS 4',
  'Turbocharger/Supercharger\nTurbocharged',
  'Length\n3995 mm',
  'Width\n1790 mm',
  'Height\n1640 mm',
  'Wheelbase\n2500 mm',
  'Ground Clearance\n198 mm',
  'Kerb Weight\n1190 kg',
  'Doors\n5 Doors',
  'Seating Capacity\n5 Person',
  'No of Seating Rows\n2 Rows',
  'Bootspace\n328 litres',
  'Fuel Tank Capacity\n48 litres',
  'Front Suspension\nMacPherson Strut with coil spring',
  'Rear Suspension\nTorsion Beam with coil spring',
  'Front Brake Type\nDisc',
  'Rear Brake Type\nDrum',
  'Minimum Turning Radius\n5.2 metres',
  'Steering Type\nPower assisted (Electric)',
  'Wheels\nAlloy Wheels',
  'Spare Wheel\nSteel',
  'Front Tyres\n215 / 60 R16',
  'Rear Tyres\n215 / 60 R16'],
 ['Engine\n1373 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
  'Engine Type\nK 14B VVT',
  'Fuel Type \nPetrol',
  'Max Power (bhp@rpm)\n91 bhp @ 6000 rpm',
  'Max Torque (Nm@rpm)\n130 Nm @ 4000 rpm',
  'Mileage (ARAI)\n19.12 kmpl',
  'Drivetrain\nFWD',
  'Transmission\nAutomatic - 4 Gears',
  'Turbocharger/Supercharger\nNo',
  'Length\n4490 mm',
  'Width\n1730 mm',
  'Height\n1485 mm',
  'Wheelbase\n2650 mm',
  'Ground Clearance\n170 mm',
  'Kerb Weight\n1026 kg',
  'Doors\n4 Doors',
  'Seating Capacity\n5 Person',
  'No of Seating Rows\n2 Rows',
  'Bootspace\n510 litres',
  'Fuel Tank Capacity\n43 litres',
  'Front Suspension\nMcPherson Strut',
  'Rear Suspension\nTorsion Beam',
  'Front Brake Type\nDisc',
  'Rear Brake Type\nDrum',
  'Minimum Turning Radius\n5.4 metres',
  'Steering Type\nPower assisted (Electric)',
  'Wheels\nAlloy Wheels',
  'Spare Wheel\nSteel',
  'Front Tyres\n185 / 65 R15',
  'Rear Tyres\n185 / 65 R15'],
 ['Engine\n1497 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
  'Engine Type\nPetrol Engine',
  'Fuel Type \nPetrol',
  'Max Power (bhp@rpm)\n181 bhp @ 5800 rpm',
  'Max Torque (Nm@rpm)\n280 Nm @ 1600 rpm',
  'Drivetrain\nRWD',
  'Transmission\nAutomatic - 9 Gears, Paddle Shift, Sport Mode',
  'Emission Standard\nBS 4',
  'Turbocharger/Supercharger\nTurbocharged',
  'Battery\n 48 Volt',
  'Others\nRegenerative Braking, Idle Start/Stop',
  'Length\n4686 mm',
  'Width\n1810 mm',
  'Height\n1442 mm',
  'Wheelbase\n2840 mm',
  'Ground Clearance\n157 mm',
  'Kerb Weight\n1655 kg',
  'Doors\n4 Doors',
  'Seating Capacity\n5 Person',
  'No of Seating Rows\n2 Rows',
  'Bootspace\n480 litres',
  'Fuel Tank Capacity\n66 litres',
  'Front Suspension\nAGILITY CONTROL suspension with selective damping system',
  'Rear Suspension\nAGILITY CONTROL suspension with selective damping system',
  'Front Brake Type\nDisc',
  'Rear Brake Type\nDisc',
  'Minimum Turning Radius\n5.61 metres',
  'Steering Type\nPower assisted (Hydraulic)',
  'Wheels\nAlloy Wheels',
  'Spare Wheel\nSpace Saver',
  'Front Tyres\n225 / 50 R17',
  'Rear Tyres\n225 / 50 R17'],
 ['Engine\n1047 cc, 3 Cylinders Inline, 4 Valves/Cylinder, DOHC',
  'Engine Type\nRevotron 1.2 L BS6 engine',
  'Fuel Type \nPetrol',
  'Max Power (bhp@rpm)\n69 bhp @ 4000 rpm',
  'Max Torque (Nm@rpm)\n140 Nm @ 1800 rpm',
  'Mileage (ARAI)\n27.28 kmpl',
  'Drivetrain\nFWD',
  'Transmission\nManual - 5 Gears',
  'Emission Standard\nBS 6',
  'Turbocharger/Supercharger\nTurbocharged',
  'Length\n3746 mm',
  'Width\n1647 mm',
  'Height\n1535 mm',
  'Wheelbase\n2400 mm',
  'Ground Clearance\n170 mm',
  'Kerb Weight\n1065 kg',
  'Doors\n5 Doors',
  'Seating Capacity\n5 Person',
  'No of Seating Rows\n2 Rows',
  'Bootspace\n242 litres',
  'Fuel Tank Capacity\n35 litres',
  'Front Suspension\nIndependent Lower Wishbone, McPherson Strut with coil Spring',

In [21]:
Engine=[]
Mileage =[]
Length=[]
Height=[]
Seating_Capacity=[]

for x in spec:
    sayan = 0
    for y in x:
        if "Engine\n" in y:
            Engine.append(y.split('\n')[1])
        elif "Mileage" in y :
            Mileage.append(y.split('\n')[1])
            sayan = 1
            # print(y.split('\n')[1])
        elif "Length" in y:
            Length.append(y.split('\n')[1])
        elif "Height" in y:
            Height.append(y.split('\n')[1])
        elif "Seating Capacity" in y:
            Seating_Capacity.append(y.split('\n')[1])
    if sayan == 0:
        Mileage.append(0)
len(Engine),len(Mileage),len(Length),len(Height),len(Seating_Capacity)

(32, 32, 32, 32, 32)

In [22]:
Engine

['998 cc, 3 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '2998 cc, 6 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '2143 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '2967 cc, 6 Cylinders In V Shape, 4 Valves/Cylinder, DOHC',
 '3198 cc, 5 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '1498 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '1598 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '1395 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '998 cc, 3 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '1582 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '1497 cc, 4 Cylinders Inline, 4 Valves/Cylinder, SOHC',
 '1998 cc, 4 Cylinders Inline, 4 Valves/Cylinder',
 '1591 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '998 cc, 3 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '1248 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '1373 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '1497 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '1047 cc, 3 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '998 cc, 3 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '799 cc, 3 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '1086 cc, 4 Cylinders Inline, 3 Valves/Cylinder, SOHC',
 '1248 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '1582 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '998 cc, 3 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '998 cc, 3 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '1498 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '1496 cc, 4 Cylinders Inline, 4 Valves/Cylinder',
 '2393 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC',
 '1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DOHC']

In [23]:
Mileage

['20.5 kmpl',
 '10.5 kmpl',
 '19.27 kmpl',
 '14.75 kmpl',
 '10.91 kmpl',
 '27.3 kmpl',
 '15 kmpl',
 0,
 '19.77 kmpl',
 '20.5 kmpl',
 '22.32 kmpl',
 '18.9 kmpl',
 '18 kmpl',
 '18.2 kmpl',
 '15.29 kmpl',
 '20.5 kmpl',
 '24.29 kmpl',
 '19.12 kmpl',
 0,
 '27.28 kmpl',
 '21.4 kmpl',
 '21.7 kmpl',
 '25.17 kmpl',
 '20 kmpl',
 '24.29 kmpl',
 '22.32 kmpl',
 '26.6 km/kg',
 '21.63 kmpl',
 '21.66 kmpl',
 '17.57 kmpl',
 '15.6 kmpl',
 '20.52 kmpl']

In [1]:
import pandas as pd

In [27]:
df.head()

,Engine,Mileage,Length,Height,Seating_Capacity
0,"998 cc, 3 Cylinders Inline, 4 Valves/Cylinder,...",20.5 kmpl,3599 mm,1700 mm,5 Person
1,"2998 cc, 6 Cylinders Inline, 4 Valves/Cylinder...",10.5 kmpl,5151 mm,1805 mm,6 Person
2,"2143 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",19.27 kmpl,4686 mm,1442 mm,5 Person
3,"2967 cc, 6 Cylinders In V Shape, 4 Valves/Cyli...",14.75 kmpl,5052 mm,1740 mm,7 Person
4,"3198 cc, 5 Cylinders Inline, 4 Valves/Cylinder...",10.91 kmpl,4892 mm,1837 mm,7 Person